.card
  .card-header
    .fa.fa-book
    = link_to course.title, course_path(course)
  .card-body
    = course.description
  .card-footer
    .row
    .fa.fa-globe
    = course.language
    .row
    .fa.fa-signal
    = course.level
  .card-footer
    = number_to_currency(course.price)
  .card-footer
    .fa.fa-time
    = course.created_at.strftime('%d-%b-%Y')
    .row
    .fa.fa-chalkboard-teacher
    = course.user
  .card-footer
    %td= link_to 'Show', course, class: 'btn btn-sm btn-primary'
    %td= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
    %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

